---
import { cn } from '../../utils/utils';

interface ProjectCardProps {
  title: string;
  tag?: any;
}
const { title } = Astro.props as ProjectCardProps;
---

<div class='relative group border-t-2 last:border-b-2 border-secondary/60'>
  <div class='h-full min-h-32 md:min-h-40 flex flex-col justify-center'>
    <div class='font-bold uppercase tracking-wide text-xl md:text-4xl'>
      {title}
    </div>
  </div>
  <div
    class='opacity-0 absolute top-0 right-0 md:right-10 h-28 md:h-60 aspect-video bg-secondary z-50 translate-y-2 md:-translate-y-10 rounded-lg group-hover:opacity-100 transition-all hover:md:scale-125 duration-300'
  >
    preview
    <div class='flex justify-start gap-1 absolute bottom-3 right-3'>
      <span
        class='text-sm capitalize px-4 rounded-sm text-secondary bg-primary/70 font-bold'
        >tag</span
      >
      <span
        class='text-sm capitalize px-4 rounded-sm text-secondary bg-primary/70 font-bold'
        >tag</span
      >
      <span
        class='text-sm capitalize px-4 rounded-sm text-secondary bg-primary/70 font-bold'
        >tag</span
      >
    </div>
  </div>
</div>
