---
import { Icon } from 'astro-icon/components';
type SkillCardProps = {
  skillName: string;
  icon: string;
  iconSize?: number;
};

const { skillName, icon, iconSize = 50 } = Astro.props as SkillCardProps;
---

<div class='container aspect-square flex flex-col p-1 gap-1 bg-secondary/95'>
  <!-- <div class='flex-1 bg-accent'>icon</div> -->
  <div class='flex-1 flex justify-center items-center'>
    <Icon name={icon} size={iconSize} color={'#1E1E1C'} />
  </div>
  <div
    class='w-full bg-primary flex justify-center items-center font-semibold uppercase'
  >
    {skillName}
  </div>
</div>
