---
import { cn } from '../../utils/utils';

type TimelineCardProps = {
  index: number;
  time: string;
  title: string;
  content: string;
};

const { index, content, time, title } = Astro.props as TimelineCardProps;
const odd = index % 2 === 0;
---

<div
  class={cn(
    'h-12 max-h-12 w-full flex justify-between items-center',
    odd ? 'text-primary bg-secondary/95' : 'text-secondary bg-primary/95'
  )}
>
  <div
    class={cn(
      'text-sm w-1/4 h-full flex items-center justify-center'
      //   odd ? 'text-primary bg-secondary/95' : 'text-secondary bg-primary/95'
    )}
  >
    {time}
  </div>
  <div
    class={cn('flex-1 h-full flex flex-col items-start justify-center pl-2')}
  >
    <p class='uppercase font-bold text-sm tracking-wide'>{title}</p>
    <p class='font-normal text-xs'>{content}</p>
  </div>
</div>
