---
import TimelineCard from '../Cards/TimelineCard.astro';
import { Section } from '../Shared/Section';
---

<div class='w-full flex flex-col gap-14'>
  <Section title='About'>
    <div
      class='text-pretty md:text-4xl md:max-w-[70%] text-secondary/70 border-l-2 pl-2'
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel porta
      diam. Praesent ultricies enim sit amet lectus semper consectetur. Donec eu
      suscipit sem, lacinia vulputate justo.
    </div>
  </Section>
  <Section title='Experience' reverse>
    <div class=''>
      <div class='font-medium text-xs md:text-xl'>Work | Education</div>
      <div class='flex flex-col gap-0'>
        <TimelineCard
          index='0'
          title='frontend web dev'
          time={{
            from: '2023',
            to: '2024',
          }}
          content='at PT digidaw'
        />
        <TimelineCard
          index='1'
          title='frontend web dev'
          time={{
            from: '2023',
            to: '2023',
          }}
          content='at PT Gudang Garam Jaya'
        />
        <TimelineCard
          index='2'
          title='frontend web dev'
          time={{
            from: '2019',
            to: '2023',
          }}
          content='at PT digidaw'
        />
      </div>
    </div>
  </Section>
</div>
