---
import { contactLink } from '../../types/constant';
import { FlipCard } from '../Cards/FlipCard';
// import ContactCard from '../Cards/ContactCard.astro';
import { Section } from '../Shared/Section';
---

<Section minHeight='min-h-[60dvh]' title='Contact' id='contact' client:load>
  <div class='flex flex-col'>
    {
      contactLink.map((item) => (
        // <ContactCard name={item.name} path={item.path} />
        <FlipCard name={item.name} path={item.path} client:visible />
      ))
    }
  </div>
</Section>
