---
import { contactLink } from '../../types/constant';
import { FlipCard } from '../Cards/FlipCard';
import { Section } from '../Shared/Section';
---

<Section minHeight='min-h-[50dvh]' title='Contact' id='contact' client:load>
  <div class='flex flex-col'>
    {
      contactLink.map((item) => (
        <FlipCard name={item.name} path={item.path} client:visible />
      ))
    }
  </div>
</Section>
