---
import { contactLink } from '../../types/constant';
import ContactCard from '../Cards/ContactCard.astro';
import { Section } from '../Shared/Section';
---

<Section title='Contact'>
  <div class='flex flex-col'>
    {contactLink.map((item) => <ContactCard name={item.name} />)}
  </div>
</Section>
