---
import ProjectCard from '../Cards/ProjectCard.astro';
import { Section } from '../Shared/Section';

// import { projects } from '../../data/projects';

export type Project = {
  title: string;
  tag: string[];
  imagePath: string;
};

export const projects: Project[] = [
  {
    title: 'dis-cover!',
    tag: ['React', 'NestJs'],
    imagePath: 'src/assets/discover-1.png',
  },
  {
    title: 'myLviors',
    tag: ['React', 'NestJs'],
    imagePath: 'src/assets/discover-1.png',
  },
];

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif}'
);

console.log(images[projects[0].imagePath]);
---

<Section id='projects' title='Projects' client:load>
  <div class='flex flex-col gap-1 w-full h-full'>
    {
      projects?.map((item) => {
        return (
          <ProjectCard
            title={item.title}
            tag={item.tag}
            path={images[item.imagePath]}
          />
        );
      })
    }
  </div>
</Section>
