---
import { SkillCard } from '../Cards/SkillCard';
import { Section } from '../Shared/Section';
---

<Section title='Skills' client:load>
  <div class='grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-4'>
    <SkillCard skillName='react' icon='mdi:react' client:load />
    <SkillCard skillName='astro' icon='devicon-plain:astro' client:load />
    <SkillCard
      skillName='typescript'
      icon='mdi:language-typescript'
      client:load
    />
    <SkillCard
      skillName='javascript'
      icon='mdi:language-javascript'
      client:load
    />
    <SkillCard
      skillName='nextjs'
      icon='devicon-plain:nextjs'
      className='md:col-start-2'
      client:load
    />
    <SkillCard
      skillName='typescript'
      icon='mdi:language-typescript'
      client:load
    />
  </div>
</Section>
