---
import ContactCard from './Cards/ContactCard.astro';
import Section from './Section.astro';

import { contactLink } from '../types/constant';
---

<Section title='Contact'>
  <div class='flex flex-col'>
    {contactLink.map((item) => <ContactCard name={item.name} />)}
  </div>
</Section>
