---
import ContactCard from './Cards/ContactCard.astro';
import Section from './Section.astro';
---

<Section title='Contact'>
  <div class='flex flex-col'>
    <ContactCard name='email' />
    <ContactCard name='linkedin' />
    <ContactCard name='github' />
    <ContactCard name='instagram' />
  </div>
</Section>
