---

---

<footer
  class='flex justify-between items-center p-2 text-secondary/50 text-xs md:text-base border-t border-secondary/50'
>
  <div class='flex items-center'>© 2024</div>
  <div class='flex items-center'>Dev by Adistya O.</div>
</footer>
