---

---

<footer
  class='flex justify-between items-center py-4 text-xs border-t border-secondary/50'
>
  <div class='flex items-center'>© 2024.</div>
  <div class='flex items-center'>Dev by Adistya O.</div>
</footer>
