---

---

<div
  class='h-full max-h-[80%] md:min-h-[85%] min-w-full w-full flex flex-col justify-start md:justify-between items-center gap-14'
>
  <div
    class='min-w-full w-full md:min-w-[50%] md:w-5/6 h-fit md:min-h-fit flex flex-col justify-start'
  >
    <div
      class='font-bold uppercase text-6xl md:text-[12rem] font-raleway tracking-wider text-right'
    >
      adistya
    </div>
    <div
      class='font-semibold uppercase text-5xl md:text-[10rem] font-raleway tracking-wider text-left'
    >
      Oktaviano
    </div>
  </div>
  <div class='min-w-full w-full h-fit md:max-h-fit flex flex-col justify-start'>
    <div
      class='font-semibold uppercase text-4xl md:text-6xl font-raleway tracking-wider text-left md:text-right'
    >
      frontend
    </div>
    <div
      class='flex items-end justify-end md:justify-between font-semibold uppercase font-raleway tracking-wider'
    >
      <p class='hidden md:block normal-case text-secondary/80'>
        Based in Indonesia
      </p>
      <p class='text-4xl md:text-9xl text-right'>web developer</p>
    </div>
    <div class='font-normal text-secondary/60 md:hidden'>
      <div
        class='font-normal text-sm md:text-lg w-full flex items-center justify-between gap-2'
      >
        Based in Indonesia
        <div class='flex-1 h-1 bg-secondary'></div>
      </div>
    </div>
  </div>
</div>
