---

---

<div class='container h-4/5 min-w-full w-full flex flex-col gap-14'>
  <div class='container min-w-full w-full h-1/2 flex flex-col justify-center'>
    <div
      class='font-bold uppercase text-6xl font-raleway tracking-wider text-right'
    >
      adistya
    </div>
    <div
      class='font-semibold uppercase text-5xl font-raleway tracking-wider text-left'
    >
      Oktaviano
    </div>
  </div>
  <div class='container min-w-full w-full h-1/2 flex flex-col justify-center'>
    <div
      class='font-semibold uppercase text-4xl font-raleway tracking-wider text-left'
    >
      frontend
    </div>
    <div
      class='font-semibold uppercase text-4xl font-raleway tracking-wider text-right'
    >
      web developer
    </div>
    <div class='font-normal text-secondary/60'>
      <div
        class='font-normal text-sm w-full flex items-center justify-between gap-2'
      >
        Based in Indonesia
        <div class='flex-1 h-1 bg-secondary'></div>
      </div>
    </div>
  </div>
</div>
