---

---

<nav
  class='container w-full min-w-full sticky top-0 flex justify-between items-center px-1 py-2'
>
  <div
    class='w-1/3 h-10 max-h-10 flex items-center justify-start font-raleway font-semibold text-xl md:text-5xl'
  >
    /
  </div>
  <div
    class='w-1/3 h-10 max-h-10 flex items-center justify-center font-jersey text-3xl md:text-7xl font-semibold tracking-wide'
  >
    dis
  </div>
  <div
    class='w-1/3 h-10 max-h-10 flex items-center justify-end font-raleway font-semibold text-xl md:text-3xl'
  >
    MENU
  </div>
</nav>
