---
import { cn } from '../utils/utils';

type SectionProps = {
  title: string;
  reverse?: boolean;
};

const { title, reverse = false } = Astro.props as SectionProps;
---

<section class='w-full min-w-full min-h-full flex flex-col md:gap-4 py-2'>
  <h2
    class={cn(
      'capitalize font-extrabold text-xl md:text-5xl',
      reverse && 'text-right'
    )}
  >
    {title}
  </h2>
  <slot />
</section>
