---
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/Footer.astro';
import { Header } from '../components/Header';
import { Nav } from '../components/Nav';
import { SmoothScroll } from '../components/Shared/SmoothScroll';
// import Nav from '../components/Nav.astro';
import '../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Adistya Oktaviano Portfolio' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class='h-dvh w-dvw min-h-dvh min-w-full flex-1 bg-primary font-raleway text-secondary antialiased'
  >
    <Header client:load />
    <SmoothScroll client:load>
      <slot />
    </SmoothScroll>
    <Footer />
  </body><script>
    import { isMobile } from '../stores/app.store';

    const checkMobile = () => {
      if (window.innerWidth < 768) {
        isMobile.set(true);
      } else {
        isMobile.set(false);
      }
    };

    window.addEventListener('load', checkMobile);

    window.addEventListener('resize', checkMobile);

    window.addEventListener('unload', () => {
      window.removeEventListener('resize', checkMobile);
    });
  </script>
</html>
